*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table tr td{
  vertical-align: middle;
}

.completed{
  text-decoration: line-through; /* Isso adicionará uma linha através do texto */
  color: #888; /* Altere a cor para ficar mais sutil se desejar */
}